<h1>Shelter Index</h1>

<ul>
  <% @shelters.each do |shelter| %>
    <h3><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}"%></h3>
    <h4><%= button_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %></h4><br>
    <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit"%>
  <%end%>
</ul>
<h3><%= link_to "New Shelter", "/shelters/new" %></h3>
