<h1>Shelter Index</h1>

<ul>
  <% @shelters.each do |shelter| %>
    <h3><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}"%></h3>
  <%end%>
</ul>
<h3><%= link_to "New Shelter", "/shelters/new" %></h3>
